/* Start Rules */
:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
    --font-size: 14px;
    --font-whights-400: 400px;
    --font-whights-600: 600px;
    --font-whights-500: 700px;
}
* {
    font-family: Inter;
    padding: 0;
    margin: 0;
}
body {
    width: 100vh;
    color: var(--White);
    background-color: var(--Grey-900);
}
/* End Rules */

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--Grey-800);
}
@media (max-width: 767px) {
    .container .box  {
        font-size: 10px;
    }
}
.container .box img {
    width: 100px;
    height: 100px;
    padding: 30px;
    margin-top: -20px;
    margin-bottom: -20px;
    border-radius: 100px;
}
.container .box .text {
    text-align: center;
    line-height: 1.6;
}
.container .box .text .title {
    font-size: 2rem;
    font-weight: 400;
}
@media (max-width: 767px) {
    .container .box .text .title {
        font-size: 1rem;
    }
}
.container .box .text .live-in {
    color: var(--Green);
    font-weight: 700;
    font-size: 15px;
}
@media (max-width: 767px) {
    .container .box .text .live-in {
        font-size: 10px;
    }
}
.container .box .links-container .description {
    /* font-weight: 400; */
    font-size: 0.9rem;
    padding: 25px;
}
@media (max-width: 767px) {
    .container .box .links-container .description {
        font-size: 10px;
        padding: 10px;
    }
}
.container .box .links-container .ul-links li {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: var(--Grey-700);
    cursor: pointer;
}
.container .box .links-container .ul-links li:hover {
    background-color: var(--Green);
    color: var(--Grey-900);
}
.container .box .links-container .ul-links li a {
    text-decoration: none;
    color: var(--White);
    font-size: small;
    font-weight: 700;
}
.container .box .links-container .ul-links li:hover a {
    color: black;
}